USE [master]
GO
/****** Object:  Database [BookDB]    Script Date: 10/09/2018 08:35:59 ******/
CREATE DATABASE [BookDB] ON  PRIMARY 
( NAME = N'BookDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BookDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BookDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookDB]
GO
/****** Object:  Table [dbo].[T_book]    Script Date: 10/09/2018 08:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_book](
	[book_no] [varchar](20) NOT NULL,
	[book_name] [varchar](100) NOT NULL,
	[author] [varchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[qty] [int] NOT NULL,
	[loan_qty] [int] NOT NULL,
 CONSTRAINT [PK_T_book] PRIMARY KEY CLUSTERED 
(
	[book_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_card]    Script Date: 10/09/2018 08:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_card](
	[card_no] [varchar](20) NOT NULL,
	[card_name] [varchar](30) NOT NULL,
	[adress] [varchar](200) NOT NULL,
	[mobile] [varchar](11) NULL,
 CONSTRAINT [PK_T_card] PRIMARY KEY CLUSTERED 
(
	[card_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_borrow]    Script Date: 10/09/2018 08:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_borrow](
	[borrow_id] [bigint] NOT NULL,
	[book_no] [varchar](20) NOT NULL,
	[card_no] [varchar](20) NOT NULL,
	[borrow_date] [datetime] NOT NULL,
	[return_date] [datetime] NULL,
 CONSTRAINT [PK_T_borrow] PRIMARY KEY CLUSTERED 
(
	[borrow_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_borrow_T_book]    Script Date: 10/09/2018 08:36:00 ******/
ALTER TABLE [dbo].[T_borrow]  WITH CHECK ADD  CONSTRAINT [FK_T_borrow_T_book] FOREIGN KEY([book_no])
REFERENCES [dbo].[T_book] ([book_no])
GO
ALTER TABLE [dbo].[T_borrow] CHECK CONSTRAINT [FK_T_borrow_T_book]
GO
/****** Object:  ForeignKey [FK_T_borrow_T_card]    Script Date: 10/09/2018 08:36:00 ******/
ALTER TABLE [dbo].[T_borrow]  WITH CHECK ADD  CONSTRAINT [FK_T_borrow_T_card] FOREIGN KEY([card_no])
REFERENCES [dbo].[T_card] ([card_no])
GO
ALTER TABLE [dbo].[T_borrow] CHECK CONSTRAINT [FK_T_borrow_T_card]
GO
