USE [master]
GO
/****** Object:  Database [SelfStudy]    Script Date: 10/09/2018 11:36:13 ******/
CREATE DATABASE [SelfStudy] ON  PRIMARY 
( NAME = N'SelfStudy', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SelfStudy.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SelfStudy_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SelfStudy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelfStudy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelfStudy]
GO
/****** Object:  Table [dbo].[T_speciality]    Script Date: 10/09/2018 11:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_speciality](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_T_speciality] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_course]    Script Date: 10/09/2018 11:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_course](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[specialityid] [varchar](20) NOT NULL,
	[mark] [float] NOT NULL,
 CONSTRAINT [PK_T_course] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_enroll]    Script Date: 10/09/2018 11:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_enroll](
	[id] [varchar](20) NOT NULL,
	[course_id] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_T_enroll] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_course_T_speciality]    Script Date: 10/09/2018 11:36:13 ******/
ALTER TABLE [dbo].[T_course]  WITH CHECK ADD  CONSTRAINT [FK_T_course_T_speciality] FOREIGN KEY([specialityid])
REFERENCES [dbo].[T_speciality] ([id])
GO
ALTER TABLE [dbo].[T_course] CHECK CONSTRAINT [FK_T_course_T_speciality]
GO
/****** Object:  ForeignKey [FK_T_enroll_T_course]    Script Date: 10/09/2018 11:36:13 ******/
ALTER TABLE [dbo].[T_enroll]  WITH CHECK ADD  CONSTRAINT [FK_T_enroll_T_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[T_course] ([id])
GO
ALTER TABLE [dbo].[T_enroll] CHECK CONSTRAINT [FK_T_enroll_T_course]
GO
