USE [master]
GO
/****** Object:  Database [Stores]    Script Date: 10/08/2018 08:31:05 ******/
CREATE DATABASE [Stores] ON  PRIMARY 
( NAME = N'Stores', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Stores.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Stores_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Stores_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stores]
GO
/****** Object:  Table [dbo].[T_suppliers]    Script Date: 10/08/2018 08:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_suppliers](
	[supp_code] [varchar](20) NOT NULL,
	[supp_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_suppliers] PRIMARY KEY CLUSTERED 
(
	[supp_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_goods]    Script Date: 10/08/2018 08:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_goods](
	[goods_id] [bigint] NOT NULL,
	[supp_code] [varchar](20) NOT NULL,
	[goods_name] [varchar](50) NOT NULL,
	[goods_price] [decimal](10, 2) NOT NULL,
	[goods_adress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_goods] PRIMARY KEY CLUSTERED 
(
	[goods_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_orders]    Script Date: 10/08/2018 08:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_orders](
	[order_id] [bigint] NOT NULL,
	[goods_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[total_price] [money] NOT NULL,
 CONSTRAINT [PK_T_orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_T_goods_T_suppliers]    Script Date: 10/08/2018 08:31:06 ******/
ALTER TABLE [dbo].[T_goods]  WITH CHECK ADD  CONSTRAINT [FK_T_goods_T_suppliers] FOREIGN KEY([supp_code])
REFERENCES [dbo].[T_suppliers] ([supp_code])
GO
ALTER TABLE [dbo].[T_goods] CHECK CONSTRAINT [FK_T_goods_T_suppliers]
GO
/****** Object:  ForeignKey [FK_T_orders_T_goods]    Script Date: 10/08/2018 08:31:06 ******/
ALTER TABLE [dbo].[T_orders]  WITH CHECK ADD  CONSTRAINT [FK_T_orders_T_goods] FOREIGN KEY([order_id])
REFERENCES [dbo].[T_goods] ([goods_id])
GO
ALTER TABLE [dbo].[T_orders] CHECK CONSTRAINT [FK_T_orders_T_goods]
GO
