USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 09/29/2018 11:26:37 ******/
CREATE DATABASE [StudentDB] ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\StudentDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[T_course]    Script Date: 09/29/2018 11:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_course](
	[Course_id] [varchar](10) NOT NULL,
	[Course_name] [varchar](100) NOT NULL,
	[Teacher_name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_T_score] PRIMARY KEY CLUSTERED 
(
	[Course_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_student]    Script Date: 09/29/2018 11:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_student](
	[Stud_id] [varchar](10) NOT NULL,
	[Stud_name] [varchar](20) NOT NULL,
	[Stud_sex] [char](2) NOT NULL,
	[Birth_date] [datetime] NOT NULL,
	[Entry_Date] [datetime] NOT NULL,
	[Mobile] [varchar](11) NULL,
	[Birth_place] [varchar](30) NOT NULL,
	[Reserve] [text] NULL,
 CONSTRAINT [PK_T_student] PRIMARY KEY CLUSTERED 
(
	[Stud_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_score]    Script Date: 09/29/2018 11:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_score](
	[Score_id] [bigint] NOT NULL,
	[Course_id] [varchar](10) NOT NULL,
	[Stud_id] [varchar](10) NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_T_score_1] PRIMARY KEY CLUSTERED 
(
	[Score_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_score_T_course]    Script Date: 09/29/2018 11:26:38 ******/
ALTER TABLE [dbo].[T_score]  WITH CHECK ADD  CONSTRAINT [FK_T_score_T_course] FOREIGN KEY([Course_id])
REFERENCES [dbo].[T_course] ([Course_id])
GO
ALTER TABLE [dbo].[T_score] CHECK CONSTRAINT [FK_T_score_T_course]
GO
/****** Object:  ForeignKey [FK_T_score_T_student]    Script Date: 09/29/2018 11:26:38 ******/
ALTER TABLE [dbo].[T_score]  WITH CHECK ADD  CONSTRAINT [FK_T_score_T_student] FOREIGN KEY([Stud_id])
REFERENCES [dbo].[T_student] ([Stud_id])
GO
ALTER TABLE [dbo].[T_score] CHECK CONSTRAINT [FK_T_score_T_student]
GO
