USE [master]
GO
/****** Object:  Database [HNIUEAM]    Script Date: 10/11/2018 09:36:24 ******/
CREATE DATABASE [HNIUEAM] ON  PRIMARY 
( NAME = N'HNIUEAM', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HNIUEAM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HNIUEAM_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HNIUEAM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HNIUEAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HNIUEAM]
GO
/****** Object:  Table [dbo].[T_BookInfo]    Script Date: 10/11/2018 09:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_BookInfo](
	[book_id] [varchar](8) NOT NULL,
	[book_name] [varchar](50) NOT NULL,
	[book_isbn] [varchar](17) NOT NULL,
	[book_author] [varchar](20) NOT NULL,
	[book_publisher] [varchar](50) NOT NULL,
	[book_datetime] [datetime] NOT NULL,
	[book_price] [float] NOT NULL,
	[book_rkm] [text] NULL,
 CONSTRAINT [PK_T_BookInfo] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Supplier]    Script Date: 10/11/2018 09:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Supplier](
	[supplier_id] [varchar](8) NOT NULL,
	[supplier_name] [varchar](50) NOT NULL,
	[supplier_people] [varchar](8) NOT NULL,
	[supplier_address] [varchar](50) NOT NULL,
	[supplier_phone] [varchar](15) NOT NULL,
	[supplier_postcode] [varchar](6) NOT NULL,
	[supplier_remark] [text] NULL,
 CONSTRAINT [PK_T_Supplier] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Orderet]    Script Date: 10/11/2018 09:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Orderet](
	[orderdet_id] [varchar](8) NOT NULL,
	[order_id] [varchar](8) NOT NULL,
	[book_id] [varchar](8) NOT NULL,
	[orderdet_num] [int] NOT NULL,
	[orderdet_status] [bit] NOT NULL,
 CONSTRAINT [PK_T_Orderet] PRIMARY KEY CLUSTERED 
(
	[orderdet_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Order]    Script Date: 10/11/2018 09:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Order](
	[order_id] [varchar](8) NOT NULL,
	[supplier_id] [varchar](8) NOT NULL,
	[order_datetime] [datetime] NOT NULL,
	[order_status] [bit] NULL,
 CONSTRAINT [PK_T_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_Orderet_T_BookInfo]    Script Date: 10/11/2018 09:36:24 ******/
ALTER TABLE [dbo].[T_Orderet]  WITH CHECK ADD  CONSTRAINT [FK_T_Orderet_T_BookInfo] FOREIGN KEY([book_id])
REFERENCES [dbo].[T_BookInfo] ([book_id])
GO
ALTER TABLE [dbo].[T_Orderet] CHECK CONSTRAINT [FK_T_Orderet_T_BookInfo]
GO
/****** Object:  ForeignKey [FK_T_Order_T_Supplier]    Script Date: 10/11/2018 09:36:24 ******/
ALTER TABLE [dbo].[T_Order]  WITH CHECK ADD  CONSTRAINT [FK_T_Order_T_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[T_Supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[T_Order] CHECK CONSTRAINT [FK_T_Order_T_Supplier]
GO
