USE [master]
GO
/****** Object:  Database [Proj]    Script Date: 09/28/2018 10:59:48 ******/
CREATE DATABASE [Proj] ON  PRIMARY 
( NAME = N'Proj', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Proj.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Proj_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Proj_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proj]
GO
/****** Object:  Table [dbo].[T_canton_info]    Script Date: 09/28/2018 10:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_canton_info](
	[canton_id] [int] NOT NULL,
	[canton_tot] [float] NOT NULL,
	[canton_no] [varchar](5) NOT NULL,
	[canton_name] [varchar](50) NOT NULL,
	[branch] [varchar](50) NOT NULL,
	[remark] [text] NULL,
 CONSTRAINT [PK_T_canton_info] PRIMARY KEY CLUSTERED 
(
	[canton_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_proj_info]    Script Date: 09/28/2018 10:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_proj_info](
	[proj_id] [int] NOT NULL,
	[canton_id] [int] NOT NULL,
	[proj_name] [varchar](50) NOT NULL,
	[proj_no] [varchar](5) NOT NULL,
	[proj_type] [varchar](25) NOT NULL,
	[tilth_state] [float] NOT NULL,
	[farm_tot] [float] NOT NULL,
	[approve_unit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_proj_info] PRIMARY KEY CLUSTERED 
(
	[proj_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_proj_info_T_canton_info]    Script Date: 09/28/2018 10:59:49 ******/
ALTER TABLE [dbo].[T_proj_info]  WITH CHECK ADD  CONSTRAINT [FK_T_proj_info_T_canton_info] FOREIGN KEY([canton_id])
REFERENCES [dbo].[T_canton_info] ([canton_id])
GO
ALTER TABLE [dbo].[T_proj_info] CHECK CONSTRAINT [FK_T_proj_info_T_canton_info]
GO
