USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 10/09/2018 10:47:14 ******/
CREATE DATABASE [StudentDB] ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\StudentDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[T_course]    Script Date: 10/09/2018 10:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_course](
	[course_id] [varchar](10) NOT NULL,
	[course_name] [varchar](100) NOT NULL,
	[teacher_name] [varchar](30) NULL,
 CONSTRAINT [PK_T_course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_student]    Script Date: 10/09/2018 10:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_student](
	[stud_id] [varchar](10) NOT NULL,
	[stud_name] [varchar](20) NOT NULL,
	[stud_sex] [char](2) NOT NULL,
	[birth_date] [datetime] NOT NULL,
	[entry_date] [datetime] NOT NULL,
	[mobile] [varchar](11) NULL,
	[birth_place] [varchar](30) NOT NULL,
	[reserve] [text] NULL,
 CONSTRAINT [PK_T_student] PRIMARY KEY CLUSTERED 
(
	[stud_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_score]    Script Date: 10/09/2018 10:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_score](
	[score_id] [bigint] NOT NULL,
	[course_id] [varchar](10) NOT NULL,
	[stud_id] [varchar](10) NOT NULL,
	[score] [decimal](5, 2) NULL,
 CONSTRAINT [PK_T_score] PRIMARY KEY CLUSTERED 
(
	[score_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_score_T_course]    Script Date: 10/09/2018 10:47:14 ******/
ALTER TABLE [dbo].[T_score]  WITH CHECK ADD  CONSTRAINT [FK_T_score_T_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[T_course] ([course_id])
GO
ALTER TABLE [dbo].[T_score] CHECK CONSTRAINT [FK_T_score_T_course]
GO
/****** Object:  ForeignKey [FK_T_score_T_student]    Script Date: 10/09/2018 10:47:14 ******/
ALTER TABLE [dbo].[T_score]  WITH CHECK ADD  CONSTRAINT [FK_T_score_T_student] FOREIGN KEY([stud_id])
REFERENCES [dbo].[T_student] ([stud_id])
GO
ALTER TABLE [dbo].[T_score] CHECK CONSTRAINT [FK_T_score_T_student]
GO
