USE [master]
GO
/****** Object:  Database [ContractionDB]    Script Date: 09/28/2018 11:33:09 ******/
CREATE DATABASE [ContractionDB] ON  PRIMARY 
( NAME = N'ContractionDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ContractionDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ContractionDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ContractionDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContractionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContractionDB]
GO
/****** Object:  Table [dbo].[T_appr_area]    Script Date: 09/28/2018 11:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_appr_area](
	[proj_id] [int] NOT NULL,
	[proj_name] [varchar](50) NOT NULL,
	[plot_id] [varchar](5) NOT NULL,
	[appro_date] [datetime] NOT NULL,
	[appr_date] [datetime] NOT NULL,
	[appr_area] [float] NOT NULL,
	[appro_unit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_appr_area] PRIMARY KEY CLUSTERED 
(
	[proj_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_plot_info]    Script Date: 09/28/2018 11:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_plot_info](
	[plot_id] [varchar](5) NOT NULL,
	[proj_id] [int] NOT NULL,
	[total_area] [float] NOT NULL,
	[plot_name] [varchar](50) NOT NULL,
	[purpose] [varchar](50) NOT NULL,
	[shape_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_plot_info] PRIMARY KEY CLUSTERED 
(
	[plot_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_plot_info_T_appr_area]    Script Date: 09/28/2018 11:33:09 ******/
ALTER TABLE [dbo].[T_plot_info]  WITH CHECK ADD  CONSTRAINT [FK_T_plot_info_T_appr_area] FOREIGN KEY([proj_id])
REFERENCES [dbo].[T_appr_area] ([proj_id])
GO
ALTER TABLE [dbo].[T_plot_info] CHECK CONSTRAINT [FK_T_plot_info_T_appr_area]
GO
