USE [master]
GO
/****** Object:  Database [SelfStudy]    Script Date: 10/10/2018 14:36:40 ******/
CREATE DATABASE [SelfStudy] ON  PRIMARY 
( NAME = N'SelfStudy', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SelfStudy.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SelfStudy_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SelfStudy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelfStudy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelfStudy]
GO
/****** Object:  Table [dbo].[T_speciality]    Script Date: 10/10/2018 14:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_speciality](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_T_speciality] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_book]    Script Date: 10/10/2018 14:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_book](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[speciality_id] [varchar](20) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_T_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_purchase]    Script Date: 10/10/2018 14:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_purchase](
	[id] [varchar](20) NOT NULL,
	[book_id] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_T_purchase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_T_book_T_speciality]    Script Date: 10/10/2018 14:36:40 ******/
ALTER TABLE [dbo].[T_book]  WITH CHECK ADD  CONSTRAINT [FK_T_book_T_speciality] FOREIGN KEY([speciality_id])
REFERENCES [dbo].[T_speciality] ([id])
GO
ALTER TABLE [dbo].[T_book] CHECK CONSTRAINT [FK_T_book_T_speciality]
GO
/****** Object:  ForeignKey [FK_T_purchase_T_book]    Script Date: 10/10/2018 14:36:40 ******/
ALTER TABLE [dbo].[T_purchase]  WITH CHECK ADD  CONSTRAINT [FK_T_purchase_T_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[T_book] ([id])
GO
ALTER TABLE [dbo].[T_purchase] CHECK CONSTRAINT [FK_T_purchase_T_book]
GO
